/* Yep. Nothing. You've got this though! Refer back to the curriculum wherever necessary! */
.box{
 box-sizing: border-box;
 width: 400px;
 background-color: lightblue;  
 padding-top: 10px; 
 padding-bottom: 10px; 
 margin: 30px;
}
/*relative Style*/
.relative-element{
    position: relative;
    top: 10px;
    bottom: 10px;
    right: 50px
}
/*absolute style*/
.absolute-element
{
   position: relative;
   top: 150px;
   right: 50px
   Bottom 10px;
}

/*fixed class*/
 .fixed-element
{ 
position: bottom right;
} 
 

/*column*/
.class column 
{
 border: 1px solid light gray;
 float: right;
}


/*container*/
.container
{
  display: inline-flex;  
}

/* Grid*/
 
.grid-container

{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    
}

.header 
{
    grid-area: header;
}

.sidebar
{
   grid-area: sidebar;
}
.main content
{
   grid-area: main content;
}

.main content

{
   grid-area: footer;
}